{% load static%}<html><body style='background-color:#D9EEF7'>
<h1><center><b><u>CANDIDATE DETAILS</u></b></center></h1><br><br><button style='margin-left:1200px;background-color:pink;border:none;border-radius:100px;height:50px'><a href = '/' style='text-align:center;color: black;margin-top:150px;margin-left:20px;margin-right:20px;'>HOME</a></button><br><br><br><br><br><center><table text-align='center' width='700px' cell-spacing='10px' cell-padding='10px' border-spacing='15px' border='5'><tr><th>Name</th><th>Filename</th><th>Resume Link</th></tr><tr><td><center>ajith</center></td><td><center>ajith.txt</center></td><td><center><a href="/media/ajith.txt">View</a></center></td></tr>
<tr><td><center>hitha</center></td><td><center>hitha.txt</center></td><td><center><a href="/media/hitha.txt">View</a></center></td></tr>
<tr><td><center>sai</center></td><td><center>sai.txt</center></td><td><center><a href="/media/sai.txt">View</a></center></td></tr>
<tr><td><center>sameeksha</center></td><td><center>sameeksha.txt</center></td><td><center><a href="/media/sameeksha.txt">View</a></center></td></tr>
<tr><td><center>Sarikya S M</center></td><td><center>Sarikya S M.txt</center></td><td><center><a href="/media/Sarikya S M.txt">View</a></center></td></tr>
<tr><td><center>Sarikya</center></td><td><center>Sarikya.txt</center></td><td><center><a href="/media/Sarikya.txt">View</a></center></td></tr>
<tr><td><center>sneha</center></td><td><center>sneha.txt</center></td><td><center><a href="/media/sneha.txt">View</a></center></td></tr>
<tr><td><center>Sukanya</center></td><td><center>Sukanya.txt</center></td><td><center><a href="/media/Sukanya.txt">View</a></center></td></tr>
</center></table></body></html>
